use nix
export HACL_HOME="/home/lucas/repos/hacl-star"
export HAX_PROOF_LIBS_HOME="/home/lucas/repos/hax/latest-core/proof-libs/fstar"
export HAX_LIBS_HOME="/home/lucas/repos/hax/latest-core/hax-lib/proofs/fstar/extraction"
export FSTAR_HOME="/home/lucas/repos/hax/latest-core/proof-libs/fstar"
