[package]
name = "bertie"
version = "0.1.0"
authors = ["Karthikeyan Bhargavan <karthikeyan.bhargavan@inria.fr>"]
license = "Proprietary or GPL"
edition = "2018"
documentation = "https://docs.rs/bertie"
description = "Minimal TLS 1.3 implementation"
readme = "README.md"
repository = "https://gitlab.com/bhargava/bertie"

[lib]
path = "src/tls13.rs"

[[bin]]
name = "tls13client"
path = "src/tls13.rs"

[dependencies]
backtrace = "0.3.0"
rand = "0.8.0"
hex = "0.4.3"
hacspec-lib = { git = "https://github.com/hacspec/hacspec", package = "hacspec-lib" }
hacspec_cryptolib = { git = "ssh://git@github.com/cryspen/mls-research.git" }

[dev-dependencies]  
dhat = "0.2.2"
serde_json = "1.0"
serde = {version = "1.0", features = ["derive"]}
rayon = "1.3.0"
hacspec-dev = { git = "https://github.com/hacspec/hacspec", package = "hacspec-dev" }
criterion = "0.3"

