[package]
name = "bertie"
version = "0.1.0-pre.1"
authors = ["Karthikeyan Bhargavan <karthik@cryspen.com>"]
license = "Apache-2.0"
edition = "2018"
documentation = "https://docs.rs/bertie"
description = "Minimal TLS 1.3 implementation"
readme = "README.md"
repository = "https://github.com/cryspen/bertie"

[lib]
path = "src/lib.rs"

[dependencies]
backtrace = "0.3.0"
rand = "0.8.0"
hex = "0.4.3"
libcrux = { git = "https://github.com/cryspen/libcrux", package = "libcrux", optional = true, features = ["rand"] }
hacspec_cryptolib = { git = "https://github.com/cryspen/utils", optional = true, package = "hacspec_cryptolib" }
hacspec-lib = { git = "https://github.com/hacspec/hacspec", package = "hacspec-lib" }

[features]
default = ["libcrux"]
hacspec = ["hacspec_cryptolib"]

[dev-dependencies]
dhat = "0.3.0"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
rayon = "1.3.0"
hacspec-dev = { git = "https://github.com/hacspec/hacspec", package = "hacspec-dev" }
criterion = "0.4"

[workspace]
members = [
    ".",
    "record",
    "simple_https_client",
    "simple_https_server",
    "bogo_shim",
    "integration_tests",
]

default-members = [
    ".",
    "record",
    "simple_https_client",
    "simple_https_server",
    "bogo_shim",
    "integration_tests",
]
