name: Scheduled

on:
  schedule:
    # 13:37 on Wednesday and Sunday. (Thanks, crontab.guru)
    - cron: '37 13 * * 3,0'

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: EmbarkStudios/cargo-deny-action@v1
        # TODO: Check licenses, too.
        with:
          command: check bans advisories sources
